.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input-group {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 14px 20px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--clr-grey-200);
}

.form-input-group:is(:focus, :active),
.form-input-group:has(:focus, :active) {
  border: 1px solid var(--clr-meteor-shower);
  box-shadow: rgba(94, 62, 246, 0.4) 0px 8px 24px;
  outline: none;
}

.form-group input {
  border: none;
  color: var(--clr-grey-900);
  flex-grow: 1;
  outline: none;
}

.form-group input:is(:hover, :active) {
  outline: 1px solid var(--clr-grey-200);
  outline-offset: 2px;
}

.form-group__placeholder,
.form-group input::placeholder {
  color: var(--clr-grey-200);
}

.form-input-group.is-invalid {
  border-color: var(--clr-pelati);
}

.form-input-group.is-invalid input {
  color: var(--clr-pelati);
}

.form-group .error {
  position: absolute;
  right: 20px;
  top: 100%;
  transform: translateY(5%);
  color: var(--clr-pelati);
  max-width: 200px;
}

.select-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 0.25rem; /* mt-1 = 4px */
  max-height: 15rem; /* max-h-60 = 240px */
  overflow: auto;
  border-radius: 0.375rem; /* rounded-md = 6px */
  border: 1px solid #d1d5db; /* border-grey-300 = Tailwind's gray-300 */
  background-color: #ffffff; /* bg-white */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* shadow-md */
  top: 100%;
}

@media screen and (min-width: 32em) {
  .form-group .error {
    top: 50%;
    transform: translateY(-50%);
  }
}
