.header {
  background-color: var(--clr-blue-900);
  padding: 15px;
}

.header__logo {
  width: 25px;
  height: 20px;
}

.header__link {
  width: 16px;
  height: 16px;
}

.header__avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid var(--clr-white);
}

.header__logout {
  padding: 10px;
}

.header__profile {
  position: relative;
}

.header__options {
  border-radius: 8px;
  position: absolute;
  right: 0;
  background-color: var(--clr-blue-500-80);
  color: var(--clr-white);
  padding: 5px 15px;

  opacity: 0;
  transform: translateX(-99999px) translateY(-99999px);
  transition: all 0.2s ease-in;
}

.header__profile.expanded .header__options {
  opacity: 1;
  transform: translateX(20px) translateY(75px);
  z-index: 1;
}

@media screen and (min-width: 48px) {
  .header {
    padding: 20px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 64px) {
  .header__avatar {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 64em) {
  .header__profile.expanded .header__options {
    opacity: 1;
    transform: translateX(130px) translateY(0);
  }
}
