.ml {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'mlMain'
    'mlFooter';
  min-height: 100dvh;
  background-color: var(--clr-dr-white);
}

.ml__main {
  grid-name: mlMain;
  max-width: 87rem;
  width: 100%;
  margin-inline: auto;
}

.ml__footer {
  grid-name: mlFooter;
  width: 100%;
}
