@import './styles/abstract/variables.css';
@import './styles/utilities/typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--ff);
    background-color: var(--clr-grey-100);
    color: var(--clr-blue-500);
    font-weight: var(--fw-medium);
    font-size: var(--fs-16);
  }
}
