@import './styles/base/reset.css';
/* @import './styles/base/debug.css'; */

@import './styles/abstract/variables.css';
@import './styles/utilities/typography.css';
@import './styles/utilities/color.css';

@import './styles/utilities/form.css';
@import './styles/utilities/tab.css';
@import './styles/utilities/button.css';
@import './styles/utilities/link.css';
@import './styles/utilities/helpers.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--ff);
    background-color: var(--clr-white);
    color: var(--clr-grey-500);
    font-weight: var(--fw-medium);
    font-size: var(--fs-16);
    font-display: swap;
  }
}
