.link-form {
  background-color: var(--clr-dr-white);
}

.link-actions {
  position: sticky;
  bottom: 0;

  padding-block: 20px;
  border-top: 1px solid var(--clr-grey-200);
  background-color: var(--clr-white);
}
