.is-invalid {
  border-color: var(--clr-red-500);
}

.form-group .error {
  color: var(--clr-red-500);
  max-width: 200px;
  margin-top: 0.25rem;
  flex: 0 0 100px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-input-group {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 14px 20px;
  align-items: center;
  border: 1px solid var(--clr-grey-200);
  border-radius: 8px;
}

.form-group input {
  border: none;
}

.form-group input::placeholder {
  color: var(--clr-grey-900);
  opacity: 1;
}
